<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="um bootzinho" />
        <title>PORTIFÓLIO</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
        <header class="cabecalho">
            <nav class="cabecalho-menu">
                <h1 class="titulo-cabecalho">PORTI<span class="vermelho">FÓLIO</span></h1>
                <a
                    class="cabecalho-menu-item" target="_blank"
                    href="https://api.whatsapp.com/send?phone=5522997761955&text=undefined"
                    >WhatsApp</a
                >

                <a
                    class="cabecalho-menu-item" target="_blank"
                    href="https://discord.gg/PXcfKUW8"
                    >Discord</a
                >
            </nav>

        </header>

        <main class="conteudo">
            <section class="conteudo-principal">
                <div>
                    <h2>
                        Hi, my name is kaiky, I'm 18 years old <br />
                        and I'm currently studying programming. <br />
                        I really want to continue in this <br />
                        very promising area called PROGRAMMING!
                    </h2>
                </div>
                <img class="perfil-foto" src="/css/minhafoto.png" />
            </section>

            <section class="info-container">
                <div class="info-box">
                    <h3 class="info-box-title">Curiosidades</h3>
                    <p>
                        Curso programação no Instituto Federal Fluminense
                        <em>Campus</em> Quissamã. Sou músico com formação
                        intermediária.
                    </p>
                </div>
                <div class="info-box">
                    <h3 class="info-box-title">Hard-skils</h3>
                    <p>
                        Sou bolsista da coordenação de eventos do Instituto
                        Federal Fluminense <em>Campus</em> Quissamã.
                    </p>
                </div>
                <div class="info-box">
                    <h3 class="info-box-title">Soft-skils</h3>
                    <p>
                        Sou bom ouvinte e sei trabalhar em grupo. <br />
                        tenho muita força de vontade de aprender coisas novas.
                    </p>
                </div>
            </section>
        </main>

        <footer class="rodape">
            <h1 class="rodape-texto">
                <section class="contact-container">
                    <a
                        href="https://www.instagram.com/kaaiky__/"
                        target="_blank"
                        ><img
                            src="css/instagram.png"
                            alt="Instagram"
                            class="contact-container-link"
                    /></a>
                    <a href="https://github.com/" target="_blank"
                        ><img
                            src="css/github.png"
                            alt="GitHub"
                            class="contact-container-link"
                    /></a>
                    <a
                        href="https://www.linkedin.com/in/kaiky-souza-borges-337984276/"
                        target="_blank"
                        ><img
                            src="css/linkedin.png"
                            alt="LinkedIn"
                            class="contact-container-link"
                    /></a>
                </section>
            </h1>
        </footer>
    </body>
</html>
