<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="um bootzinho">
    <title>kaiky</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header class="cabecalho">
        <h1 class="conteudo-principal-escrito-titulo-logo">Kaiky</h1>
        <img class="img-cabecalho" src="/css/logo.png">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="https://www.instagram.com/kaaiky__/">Instagram</a>
            <a class="cabecalho-menu-item" href="https://api.whatsapp.com/send?phone=5522997761955&text=undefined">WhatsApp</a>
            <a class="cabecalho-menu-item" href="https://www.linkedin.com/in/kaiky-souza-borges-337984276/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BWztn5rSaRYO2dNXZ8BY05A%3D%3D">LinkedIn</a>
            <a class="cabecalho-menu-item" href="https://discord.gg/PXcfKUW8">Discord</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
               <h1 class="conteudo-principal-titulo">bem vindo ao site</h1>
            </div>
            <img class="conteudo-principal-imagem" src="/css/computador.png">
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Biografia</h3>
            <p class="conteudo-secundario-paragrafo">1. Tenho 18 anos, sou músico a mais de 5 anos.</p>
            <p class="conteudo-secundario-paragrafo">2. Estudante do Instituto Federal Fluminense <em>campus</em> Quissamã.</p>
            <p class="conteudo-secundario-paragrafo">3. Cursando programação.</p>
        </section>
    </main>

    <footer class="rodape">
        <h1 class="rodape-texto">d'Souza</h1>
    </footer>
    <!--caso eu queira a integgração de script depois-->
    <!--<script src='js/index.js'></script>-->
</body>

</html>