*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    background-color: #161616;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.vermelho{
    color:red
}
.cabecalho-menu{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  padding: 20px;
}
.cabecalho-menu-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 300;
    font-size: 15px;  
}
.conteudo{
    border-bottom: 48px;
    border-top: 0.4px solid white;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.perfil-foto{
    width: 80px;
    height: 180px;
}